@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
:root{
  --color-text: black;
}
body {
  font-family: 'Kanit', sans-serif;
}

.top-bar {
  background-color: #151515; 
  height: 85px; 
  width: 100%; 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 1000; 
  display: flex;
  justify-content: center;
}
.imagen-bar{
  margin-top: 15px;
  margin-bottom: 15px;
}
.heroes {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%; 
  margin: 0 auto; 
  overflow: hidden;
}
.carta {
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 250px; 
  background-color: #f2f2f2;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;

}
.carta:hover {
  transform: rotate(6deg); 
  transition: transform 0.2s;
}
.contenido {
  background-color: #f2f2f2; 
  padding: 30px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}
.div-info {
  background-color: #f2f2f2; 
  padding: 20px; 

}
.linea-roja{
  background-color: #EA251D; 
  padding: 10px; 
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  margin-top: -20px; 
  margin-left: -20px; 
  margin-right: -20px;

}
.nombres {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  color:white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);

}
.imagen {
  border: 3px solid #000000;
  width: 250px;
  height: 250px; 
  object-fit: cover; 
  border-radius: 20px;
}
.dialogo {
  height: 600px; 
  border-radius: 20px;
  position: fixed;
  top: 12%;
  left: 29%;
  transform: translate(-50%, -50%);
  background: #f2f2f2;
  padding: 20px;
  border: 5px solid #000000;
  width: 600px;
  animation: fadeIn 0.5s ease both;

}
.textod {
  max-width: 50%;
  position: absolute;
  right: 35.9%;
  top: 50px;
  z-index: 20; 
}
.texto {
  max-width: 50%;
  position: absolute;
  right: 10px;
  top: 80px;
  z-index: 20; 

}
.texto.texto-der {
  margin-right: 175px;
}
.boton {
  border: none;
  border-radius: 25px;
  background-color: #EA251D;
  color: white;
  padding: 11px 50px;
  margin: 0 auto;
  display: block;
  width: fit-content; 
  margin: 10px auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.boton:hover {
  transform: translateY(-5px); 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
}
.opacidad {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.dialogo-fadeclosed {
  animation: fadeOut 0.5s ease both;
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.dialogo-linea {
  background-color: #EA251D;
  padding: 0.5px;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  margin-top: -20px; 
  margin-left: -20px; 
  margin-right: -20px;
}
.columna-contenido {
  display: flex;
  justify-content: space-between; 
}
.columna {
  flex-basis: 100%; 
}
.dialogo-footer {
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px; 
  background-color: #f2f2f2; 
  text-align: center; 
}
