@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root{
  --color-text: black;
}
body {
  font-family: 'Kanit', sans-serif;
  
}
.top-bar {
  background-color: #151515; 
  height: 85px; 
  width: 100%; 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 1000; 
  display: flex;
}
.imagen-layouts{
  margin-top: 15px;
  margin-left: 55px;
  margin-bottom: 15px;
}
.heroes {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%; 
  margin: 0 auto; 
  overflow: hidden;
}
.character-card {
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 250px; 
  background-color: #f2f2f2;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;

}
.character-card:hover {
  transform: rotate(6deg); 
  transition: transform 0.2s;
}
.character-content {
  background-color: #f2f2f2; 
  padding: 30px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}
.character-header {
  background-color: #EA251D; 
  padding: 10px; 
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  margin-top: -20px; 
  margin-left: -20px; 
  margin-right: -20px;

}
.character-name {
  font-size: 18px;
  margin-top: 10px;
  color:white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);

}
.character-image {
  border: 3px solid #000000;
  width: 250px;
  height: 250px; 
  object-fit: cover; 
  border-radius: 20px;
}

